<!DOCTYPE html>
<html>


@Html.Partial("_Header");

<body class="theme-red">

    @Html.Partial("_Bar");

    @RenderBody();

    @Html.Partial("_Footer");

    
</body>


</html>



